
body {  
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
   
  }
  aside {
    background-color:rgb(33,78,122);;
    display: flex;
    align-items: center;
    flex: 1;
    width: 20%;
    height: 210vh;
    
  }
  
  main {
    flex: 4;
   
    
  }
  
  .asidelink {
    background-color:rgb(33, 78, 122);
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    border:1px solid white;
    border-radius:2px;
    margin:5px 5px 5px 5px;
    font-size: 10px;
  
  }
  
  aside h3 , aside p{
    color:white;
    text-align:right;
    
  }

  

 

  
  aside div{
   display: inline-block;
   width: 30%;
   height: 100%;
   margin-left: 40px;
   
  
  }

 
  
  